
.red { 
    color: red ;
}

.invalid { 
    background: #FFCCCC; 
}

.invalid:focus { 
    background: #FFDDDD;
}

table#evaluations td, table#evaluations th { 
    text-align: right;
    border-right: 1px solid black;
}

tr.total td {
    font-weight: bold;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

tr.suitH td, tr.suitD td { 
    background-color: #FFF3F3;
}
tr.suitS td, tr.suitC td { 
    background-color: #EEEEEE;
}   
.na {
   font-size: 80%;
   color: #999999;
}

table#evaluations {
    border-collapse: collapse;
    border-bottom: 1px solid black;
}

form#handentry .error { font-size: 80%; }
