.invalid { 
    background: #FFCCCC; 
}

.invalid:focus { 
    background: #FFDDDD;
}

.red { 
    color: red ;
}

.na:hover { 
    color: #006600;
}

.na { 
    color: #DDDDDD; 
    font-size: 70%;
}

th { 
     width: 4em;
}

th.key { 
    width: 9em;
}

label { 
    margin-right: 0.5em;
}

#handentrycontainer { 
    float: left; 
    width: 12em; 
    margin: 1em; 
    font-size: 16pt;
}

#handentrycontainer input[type=text] { 
    height: 16pt; 
    font-size: 14pt; 
    width: 9em;
}

#evaluationscontainer {  
    font-size: 12pt; 
    display: none;
}

table {
    border-collapse: collapse;
    border-bottom: 1px solid black;
}

table, td, th { 
    text-align: right;
    border-right: 1px solid black;
    padding-right: 0.5em;
}
tr.total td {
    font-weight: bold;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

tr.suitH td, tr.suitD td { 
    background-color: #FFF3F3;
}
tr.suitS td, tr.suitC td { 
    background-color: #EEEEEE;
}

.notes { 
    clear: left;
}
